src/main/resources/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="entries" type="entries"/>

    <xs:complexType name="entry">
        <xs:attribute name="field" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="entries">
        <xs:sequence>
            <xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>